*, ::before, ::after {
  box-sizing: border-box; }

html {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url("/images/travella-background.jpg"); }

.informations-page__wrapper {
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  background-color: white; }

.top-panel__wrapper {
  background-color: #EEEEEE;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center; }

.top-panel__search {
  width: 330px;
  color: #333333; }

.category-item__wrapper {
  margin: 10px 20px;
  background-color: white; }

.category-item__wrapper--newest {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.category-header__wrapper {
  color: white;
  font-size: 1rem;
  padding: 3px 10px;
  display: flex;
  align-items: center; }

.category-header__wrapper--newest {
  background-color: #B51351; }

.category-header__wrapper--general {
  background-color: #5F8E57; }

.category-header__wrapper--destination {
  background-color: #395BA2; }

.category-header__wrapper--subdestination {
  background-color: #5B7EC2;
  border-left: solid 20px #7898D9; }

.category-header__title {
  flex-grow: 1; }

.category-header__button {
  border: none;
  border-radius: 50%;
  background-color: dimgray;
  width: 24px;
  height: 24px;
  margin: 3px 5px;
  padding: 0px;
  cursor: pointer;
  background-image: url("/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center; }

.category-header__button--collapsed {
  transform: rotate(90deg); }

.category-item__details {
  border: solid 1px #EEEEEE; }

.category-item__details--collapsed {
  display: none; }

.category-item__informations {
  width: 100%;
  border-spacing: 0; }

.information-item__title-item {
  color: #333333; }

.information-item__date-item {
  color: #999999;
  width: 150px;
  text-align: center; }

.information-item__seasons-item {
  color: #757575;
  width: 300px;
  text-align: right; }

.information-item__row td {
  padding: 3px 20px; }

.information-item__row:nth-child(even) {
  background-color: #F3F3F3; }

.information-item__row:hover {
  background-color: #f5f5f5; }

.information-item__row--newest:hover {
  background-color: #FDE8F0; }

.information-item__row--general:hover {
  background-color: #E1ECDF; }

.information-item__row--destination:hover,
.information-item__row--subdestination:hover {
  background-color: #D6E1F7; }

.category-item__subcategory .category-item__wrapper {
  margin: 0; }

.category-item__subcategory .information-item__row td:first-child {
  padding-left: 50px; }
